body {
        font-family: ProximaNovaSemiBold, sans-serif;
    color: #4D4D4D;
    position: relative;
    min-height: 100vh;
}

#intro-container {
    background-color: #fff;
}

#main-container {
    padding-bottom: 300px;
    padding-top: 150px;
    min-height: 2000px;
}

#meow {
    width: 40%;
    margin: auto;
}

#submit {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
    padding: 8px 0;
    font-size: 13px;
    font-weight: bold;
}

#username,
#password {
    text-align: center;
}

#login-msg {
    float: right;
    padding: 0;
    margin: 0;
    color: red;
}

.form-select {
    width: 100%;
    height: 37px;
    border-color: #bdbdbd;
}

.radio-inline {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 15px;
}


#update-form {
    font-weight: bold;
}

#gender {
    margin-left: 0;
}

#fitness-container {
    font-weight: bold;
}


/* meow */


.btn.active {
    color: #ffffff !important;
    border-color: #51b27e !important;
    background-color: #51b27e !important;
    box-shadow: none;
    outline-color: #51b27e !important;
}

.btn:hover {
    color: #ffffff !important;
    border-color: #409065 !important;
    background-color: #409065 !important;
    box-shadow: 0 0 8px #409065;
}

.btn {
    color: #51b27e;
    border-color: #51b27e;
}

.btn-primary {
    background-color: #51b27e;
    color: #fff;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #51b27e;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #51b27e;
    outline: 0 none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #51b27e !important;
    border-color: #51b27e !important;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25);
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
    border-color: #bdbdbd;
}

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color: #C8FFC8;
    border-color: #51b27e;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #51b27e;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

/* navbar */
.navbar-light {
    background-color: #303f9f;
    border-color: #303f9f;
    border-radius: 0;
}

/* Title */
#brand {
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 22px;
}

#brand:hover,
#brand:focus {
    color: #51b27e;
}

/* Mobile version */
.navbar-light .navbar-toggler:hover,
.navbar-light .navbar-toggler:focus {
    background-color: #666ad1;
}

button.navbar-btn {
    margin: 2px;
    font-size: 14px;
}

.btn-custom {
    color: #fff;
    border: none;
}

.btn.btn-custom {
    background-color: #fff;
    width: 85px;
    height: 40px;
    border-radius: 20px;
    color: #1565c0;
    font-family: 'Open Sans', sans-serif;
}

.btn.btn-custom:hover {
    color: #fff !important;
    box-shadow: none;
    font-weight: 600;
    transform: translateY(-3px);
    transition: all 0.3s ease 0s;
}

.btn.btn-custom:focus {
    outline: none;
}

#nav-right.btn-custom {
    background-color: #51b27e;
    text-decoration: none;
}

.override-nav-btn {
    color: #fff !important;
}

.btn.btn-custom.override-nav-btn {
    background-color: #303f9f;
}

.btn.btn-custom.override-nav-btn:hover {
    background-color: #303f9f !important;
    border: 1px solid #fff !important;
    transition: none;
    transform: translateY(0px);
    box-shadow: 0 0 0;
    font-weight: normal;
}

#user-details,
#user-notifications {
    width: 43px;
    font-size: 20px;
}

.btn.btn-custom.btn-custom-override {
    width: 90px !important;
}

.btn.btn-custom.btn-custom-delete:hover {
    background-color: #D11A2A !important;
    border-color: #D11A2A !important;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#rendezvous {
    width: fit-content;
}

.btn.btn-custom.btn-custom-user-rendezvous {
    width: fit-content !important;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    width: 400px;
    position: absolute;
    top: 112%;
    right: 0;
    margin-left: 0;
    padding: 20px;
}

.notification:hover {
    box-shadow: none;
    font-weight: 600;
    transform: translateY(-3px);
    transition: all 0.3s ease 0s;
}

/* Chat containers */
.chat-container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.chat-container::after {
    content: "";
    clear: both;
    display: table;
}

.time-right {
    float: right;
    color: #aaa;
    clear: both;
}

.time-left {
    float: left;
    color: #999;
    clear: both;
}

.chat-wrapper {
    width: 100%;
}

.message-text {
    min-height: 1em; /* prevent height collapsing when there is no text */
    max-height: 97px;
    width: 100%;
    align-content: center;
    outline: none;
    overflow: hidden;
}

.message-wrapper {
    border: 2px solid #dedede;
    border-radius: 20px;
    background-color: #f9fafb;
    padding: 10px;
    max-height: 145px;
}

.message-wrapper:focus-within {
    border-color: #ccc;
    background-color: #ddd;
}

.btn-custom-send {
    background-color: #f9fafb !important;
    padding: 0 !important;
    margin: 0 !important;
    position: absolute;
    right: 17px;
    bottom: 2px;
    height: 43px !important;
    border-radius: 20px !important;
    transform: translateY(-1px) !important;
}

/* footer */

footer {
    background-color: #4D4D4D;
    position: absolute;
    bottom: 0;
    height: 300px;
}

.kilimanjaro_area {
    position: relative;
    z-index: 1;
    padding: 0;
}

.foo_top_header_one {
    background-color: #15151e;
    color: #fff;
}

.section_padding_100_70 {
    padding-top: 100px;
    padding-bottom: 70px;
}


.kilimanjaro_part {
    margin-bottom: 30px;
}

.kilimanjaro_part > h5 {
    color: #fff;
}

.kilimanjaro_part h4,
.kilimanjaro_part h5 {
    margin-bottom: 30px;
}

.kilimanjaro_single_contact_info > p,
.kilimanjaro_single_contact_info > h5,
.kilimanjaro_blog_area > a,
.foo_top_header_one .kilimanjaro_part > p {
    color: rgba(255, 255, 255, .5);
}

footer ul {
    margin: 0;
    padding: 0;
}

.kilimanjaro_bottom_header_one {
    background-color: #111;
}

.section_padding_50 {
    padding: 50px 0;
}

.kilimanjaro_bottom_header_one p {
    color: #fff;
    margin: 0;
}

.kilimanjaro_bottom_header_one a {
    color: inherit;
    font-size: 14px;
}

footer a,
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
    font-weight: 400;
}

footer ul {
    margin: 0;
    padding: 0;
}

.kilimanjaro_widget > li {
    display: inline-block;
}

footer ol li,
footer ul li {
    list-style: outside none none;
}

.kilimanjaro_widget a {
    border: 1px solid #333;
    border-radius: 6px;
    color: #888;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 4px;
    padding: 7px 12px;
}

footer ul {
    margin: 0;
    padding: 0;
}

.kilimanjaro_links a {
    border-bottom: 1px solid #333;
    color: rgba(255, 255, 255, .5);
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.kilimanjaro_links a {
    color: rgba(255, 255, 255, .5);
    font-size: 13px;
}

.kilimanjaro_part > h5 {
    color: #fff;
}

.kilimanjaro_part h4,
.kilimanjaro_part h5 {
    margin-bottom: 30px;
}

.kilimanjaro_social_links > li {
    display: inline-block;
}

footer p,
footer ul li,
footer ol li {
    font-weight: 300;
}

.kilimanjaro_social_links a {
    border: 1px solid #333;
    border-radius: 6px;
    color: #888;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 3px;
    padding: 7px 12px;
}

.kilimanjaro_blog_area .kilimanjaro_date {
    color: #27ae60;
    font-size: 13px;
    margin-bottom: 5px;
}

.kilimanjaro_blog_area > p {
    color: rgba(255, 255, 255, .5);
    line-height: 1.3;
    margin-bottom: 0;
}

.kilimanjaro_works > a {
    display: inline-block;
    float: left;
    position: relative;
    width: 33.33333333%;
    z-index: 1;
}

.kilimanjaro_thumb {
    left: 0;
    position: absolute;
    top: 0;
    width: 75px;
}

.kilimanjaro_links a i {
    padding-right: 10px;
}

/* :: 18.0 Footer Area CSS */

.footer_area {
    position: relative;
    z-index: 1;
}

.footer_bottom p > i,
.footer_bottom p > a:hover {
    color: #27ae60;
}

.social_links_area {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

.social_links_area > a:hover {
    color: #27ae60;
}

.inline-style .social_links_area > a:hover {
    background-color: transparent;
    color: #27ae60;
    border: 0 solid transparent;
}

.single_feature:hover .feature_text h4 {
    color: #27ae60;
}

.kilimanjaro_blog_area {
    border-bottom: 1px solid #333;
    margin-bottom: 15px;
    padding: 0 0 15px 90px;
    position: relative;
    z-index: 1;
}

.kilimanjaro_links a {
    border-bottom: 1px solid #333;
    color: rgba(255, 255, 255, .5);
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.stats {
    margin: 5px 5px 5px 20px;
}


